<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" ng-repeat="doc in docs | orderBy:sortField:sortDescending">
    <div class="thumbnail">
        <div class="caption">
            <h4>
                <in-place-edit field-name='title' input-type='text' input-class='input-medium' model=doc>{{doc.title}}</in-place-edit>
            </h4>

            <h4>
                <in-place-edit field-name='author' input-type='text' input-class='input-medium' model=doc>{{doc.author}}</in-place-edit>
            </h4>

            <h5>
            	<img width="100%" ng-src="{{doc._links.documentscontent.href}}"/>
            </h5>

            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation"><a ng-click="updateDocument(doc)">edit</a></li>
                    <li role="presentation"><a ng-click="deleteDocument(doc)">delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
