<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" ng-repeat="doc in docs | orderBy:sortField:sortDescending">
    <div class="thumbnail">
        <div class="caption">
           <div class="dropdown">
                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    	<span class="glyphicon glyphicon-cog"></span>
                	</a>
                	<span ng-if="doc.lockOwner" class="glyphicon glyphicon-lock" title="{{doc.lockOwner}}"></span>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation" ng-if="!doc.lockOwner"><a ng-click="lockDocument(doc)">Lock</a></li>
                    <li role="presentation" ng-if="doc.lockOwner"><a ng-click="unlockDocument(doc)">Unlock</a></li>
                    <li role="presentation" ng-if="doc.lockOwner"><a ng-click="updateDocument(doc)">Update Document</a></li>
                    <li role="presentation" ng-if="doc.lockOwner && !doc.successorId"><a ng-click="uploadDocumentVersion(doc)">Upload Document Version</a></li>
                    <li role="presentation" ng-if="doc.lockOwner && !doc.successorId"><a ng-click="versionDocument(doc)">Version Document</a></li>
                    <li role="presentation"><a ng-click="deleteDocument(doc)">Delete</a></li>
                </ul>
            </div>
            <h4>
                <in-place-edit field-name='title' input-type='text' input-class='input-medium' model=doc>{{doc.title}}</in-place-edit>
                <span ng-if="doc.versionNumber"><a href="{{doc._links.documentscontent.href}}">Version: {{doc.versionNumber}}</a></span>
            </h4>

            <h4>
                <in-place-edit field-name='author' input-type='text' input-class='input-medium' model=doc>{{doc.author}}</in-place-edit>
            </h4>

            <h5>
            	<img width="100%" ng-src="{{doc._links.documentscontent.href}}"/>
            </h5>


        </div>
    </div>
</div>
